{% extends 'base.html' %}
{% load static %}
{% block headblock %}
<link rel="stylesheet" href="{% static 'accounts/css/signup.css' %} ">
{% endblock %}
{% block content %}

<div class="signup-container">
    <div class="signup-contents">
        <div class="page-title">
            Login
        </div>
        <div class="signup-form-container">
            <form method="POST">
                {% csrf_token %}
                {{  form.as_p }}


                <div class="button-class">
                    <input type="submit" class="mybutton" value="Login">
                </div>
            </form>
        </div>
        
    </div>
</div>



{% endblock %}