{% extends 'base.html' %}
{% load static %}
{% block headblock %}
<link rel="stylesheet" href="{% static 'accounts/css/signup.css' %} ">
{% endblock %}
{% block content %}

<div class="signup-container">
    <div class="signup-contents">
        <div class="page-title">
            Sign Up
        </div>
        <div class="signup-form-container">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <div class="button-class">
                    <input class="mybutton" type="submit"  value="Sign Up">
                </div>
            </form>
        </div>
        
    </div>
</div>

{% endblock %}