.signup-container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-contents {
    height: fit-content;
    width: 35vw;
    border-radius: 10px;
    box-shadow: 10px 15px 28px 10px rgba(0, 0, 0, 0.1);
}

.page-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 1000;
    background-color: #4f351b;
    color: white;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

.signup-form-container {
    padding: 20px;
    text-align: left;
}

label {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    padding-bottom: 10px;
}

input {
    padding: 10px;
    margin-left: 10px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    border: solid 1px black;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0ddc9;

}

input:focus {
    background-color: rgba(255, 255, 255, 0.525);
    border: none;
    outline: none;
    background-color: #f0ddc9;
}

textarea {
    padding: 10px;
    margin: 20px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
    height: 25px;
    width: 500px;
    display: flex;
    border: solid 1px black;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    height: 200px
}

textarea:focus {
    background-color: rgba(255, 255, 255, 0.525);
    border: none;
    outline: none;
}

.mybutton {
    margin-top: 10px;
    height: 50px;
    width: 100px;
    font-size: 21px;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    box-shadow: 10px 15px 28px 0px rgba(0, 0, 0, 0.1);
    background-color: #f0ddc9;
    display: inline;
    padding: 0px;
}

.mybutton:hover {
    background-color: black;
    color: white;
}

p {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.helptext {
    font-style: italic;
    padding-top: 10px;
    padding-left: 10px;
}

.button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorlist {
    font-style: italic;
    padding-left: 20px;
    color: red;
    list-style: none;
}

.login-container {

    margin-top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;

}