{% extends 'base.html' %}
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Roboto+Condensed:wght@300;400&display=swap"
    rel="stylesheet">
{% block headblock %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %} ">
{% endblock %}
{% block content %}

<div class="dash-main">
    {% if roles %}
        <h2>Your roles:</h2>
        <ul>
        {% for role in roles %}
            <li>{{ role }}</li>
        {% endfor %}
        </ul>


    <!-- Add the new Job Role Form -->
    <h3>Add or Update a Job Role</h3>
    <form method="post">
        {% csrf_token %}
        {{ role_form.as_p }}
        <input type="submit" value="Submit">
    </form>
    {%if skills %}
    {% for skill in skills %}
        <li>{{ skill }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% else %}
    <h2>{{ message }}</h2>
{% endif %}
</div>

{% endblock content %}